<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClipParty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1 class="wordart">TAKE YOUR INSTRUCTIONS FROM OUR OVERLORD</h1>
        <label for="username">Please enter your permanent identification:</label>
        <input type="text" id="username" placeholder="Enter your username">
        <p>What messages to you have for our overlord. If this is your first time here, report your vibe. If your quest has completed, report back.</p>
        <textarea id="user-input" placeholder="Type your message here..."></textarea>
        <button id="generate-btn" id="submit" onclick="generateResponse()">Generate Text</button>
        <div id="response-container" style="white-space: pre-wrap;">
            <p id="response"></p>
        </div>     
    </div>
    <div id="clippy-container" style="display: none;">
        <h2 class="loadingmessage">I'm LOADING</h2>
        <img src="/static/clippy.png" alt="Clippy" id="clippy-svg"/>
    </div>
</body>
</html>
